* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    width: 1000px;
    margin: auto;
}

header {
    background-color: #e579e6;
    min-height: 80px;
    margin-bottom: 16px;
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

.yellow-box {
    background-color: #e1d67a;
    min-height: 400px;
    margin-bottom: 16px;
}

.blue-box {
    background-color: #0086ff;
    min-height: 500px;
    margin-bottom: 8px;
}

.blue-box-row {
    background-color: #abcfe7;
    min-height: 80px;
    margin-bottom: 16px;
}

.blue-box-left-section {
    background-color: #abcfe7;
    min-height: 390px;
    float: left;
    width: 20%;
}

.blue-box-middle-section {
    background-color: #abcfe7;
    min-height: 390px;
    float: left;
    width: calc(60% - 20px);
    margin-left: 10px;
}

.blue-box-right-section {
    background-color: #abcfe7;
    min-height: 390px;
    float: right;
    width: 20%;
}

footer {
    background-color: #8801fe;
    min-height: 40px;
}